<app-linear-system (onSubmitForm)="onSubmitForm($event)"></app-linear-system>

@if (!!canonForm?.length) {
  <p-card>
    <label *ngIf="method!=5">Каноническая форма<br></label>
    @for (stroke of canonForm; track stroke) {
      <label>{{ stroke }}<br></label>
    }
  </p-card>
}

@if (!!iterations?.length) {
  @for (table of iterations; track table) {
    <app-table-component
      [data]="table.table"
      [columns]="table.columnNames"
      [rowNames]="table.rowNames"
      [highlightedRow]="table.pivotRow == -1 ? undefined : table.pivotRow"
      [highlightedColumn]="table.pivotCol == -1 ? undefined : table.pivotCol">
    </app-table-component>
  }
}

@if (!!optimum?.length) {
  <p-card>
    <label *ngIf="method!=2">Проверка оптимальности плана<br></label>
    @for (stroke of optimum; track stroke) {
      <label>{{ stroke }}<br></label>
    }
  </p-card>
}

@if (!!result?.length) {
  <p-card>
    @for (stroke of result; track stroke) {
      <label>{{ stroke }}<br></label>
    }
  </p-card>
}


