table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center; /* Центрируем содержимое */
  border: 1px solid white; /* Белые границы */
  color: white; /* Белый текст для контраста */
}

.highlighted-col {
  background-color: #4f4f51 !important;
}

.highlighted-row {
  background-color: #4f4f51 !important;
}

.selected-cell {
  background-color: #1d5e98 !important;
}
