<p-card>
  <label *ngIf="haveStroke" style="white-space: pre;">{{stroke}}</label>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let col of columns; let colIndex = index"
          [ngClass]="{
              'highlighted-col': highlightedColumn != null && +highlightedColumn === colIndex
            }">
        {{ col }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rowData of data; let rowIndex = index"
        [ngClass]="{ 'highlighted-row': highlightedRow != null && +highlightedRow === rowIndex }">
      <td>{{ rowNames[rowIndex] || rowIndex + 1 }}</td>
      <td *ngFor="let cell of rowData; let colIndex = index"
          [ngClass]="{
              'highlighted-col': highlightedColumn != null && +highlightedColumn === colIndex,
              'selected-cell': isSelected(rowIndex, colIndex)
            }">
        {{ cell }}

      </td>
    </tr>
    </tbody>
  </table>
</p-card>
