<!-- linear-system-component.html -->
<p-card>
  <app-row-input
    #input
    [haveLabel]="true"
    [label]="'Количество переменных в функции'"
    [text]="'Введите функцию'"
    [haveText]="true"
    [initialVariables]="initialCount"
    (rowChange)="updateSystemDisplay()"> <!-- Добавляем Output для отслеживания изменений в rowInput -->
  </app-row-input>

  <div class="select" style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;">
    <p-select
      [(ngModel)]="max"
      [options]="maxOptions"
      appendTo="body"
      style="width: 120px; box-sizing: border-box;"
      placeholder="→">
    </p-select>
  </div>

  <div class="input-group">
    <label>Количество уравнений: </label>
    <p-inputNumber [(ngModel)]="equations" [min]="1" [max]="10" (onInput)="onEquationsChange()"></p-inputNumber>
  </div>

  <div style="width: 100%; overflow: hidden;"> <!-- Это важно! -->
    <table style="width: 100%; table-layout: fixed; border-collapse: collapse; background: transparent;">
      <thead>
      <tr>
        <!-- Заголовки — одинаковая ширина -->
        <th *ngFor="let varLabel of getVariableLabels()" style="padding: 4px; text-align: center;">
          {{ varLabel }}
        </th>
        <th style="padding: 4px; text-align: center;">
          Ограничение
        </th>
        <th style="padding: 4px; text-align: center;">
          b
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowData of systemRows(); trackBy: trackByRow; let i = index">
        <td *ngFor="let _ of getVariableLabels(); let j = index" style="padding: 0; ">
          <p-inputNumber
            [(ngModel)]="rowData.coefficients[j]"
            (ngModelChange)="onCoefficientChange(i, j, $event)"
            [minFractionDigits]="0"
            [maxFractionDigits]="3"
            style="width: 100%; box-sizing: border-box;">
          </p-inputNumber>
        </td>
        <td style="padding: 0; ">
          <p-select
            [(ngModel)]="rowData.constraint"
            (ngModelChange)="onConstraintChange(i, $event)"
            [options]="constraintOptions"
            appendTo="body"
            style="width: 100%; box-sizing: border-box;">
          </p-select>
        </td>
        <td style="padding: 0; ">
          <p-inputNumber
            [(ngModel)]="rowData.constant"
            (ngModelChange)="onConstantChange(i, $event)"
            [minFractionDigits]="0"
            [maxFractionDigits]="3"
            style="width: 100%; box-sizing: border-box;">
          </p-inputNumber>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <p></p>
  <label>Ограничения для переменных</label>
  <div style="display: flex; align-items: center; flex-wrap: wrap; gap: 1rem; margin-top: 0.5rem; margin-bottom: 1rem;">
    <p-select
      *ngFor="let constraint of linearRowComponent.row(); let i = index;"
      [(ngModel)]="variableConstraints()[i]"
      [options]="variablesConstraintOptions"
      placeholder="x{{i+1}}"
      appendTo="body">
    </p-select>
  </div>
  <p></p>

  <div *ngIf="selectedMethod == 4"> <!-- Обновили условие -->
    <p></p>
    <label>Точка</label>
    <div
      style="display: flex; align-items: center; flex-wrap: wrap; gap: 1rem; margin-top: 0.5rem; margin-bottom: 1rem;">
      <p-input-number
        *ngFor="let var of linearRowComponent.row(); let i = index;"
      placeholder="x{{ i + 1 }}"
      [(ngModel)]="dot()[i]"
      (ngModelChange)="onDotChange(i, $event)">
      </p-input-number>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-top: 1.5rem;">
    <p-select
      [(ngModel)]="selectedMethod"
      [options]="methodOptions"
      placeholder="Выберите метод"
      style="width: 250px;"
      appendTo="body">
    </p-select>

    <p-button (click)="onSubmit()">Решить</p-button>
  </div>
</p-card>
