<table class="table-input-table">
  <thead>
  <tr>
    <th class="header-cell"></th>
    <th *ngFor="let colHeader of displayedColHeaders; trackBy: trackByIndex" class="header-cell text-center">
      {{ colHeader }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rowData of currentViewData; trackBy: trackByIndex; let rowIndex = index">
    <td class="header-cell text-center font-bold">
      {{ displayedRowHeaders[rowIndex] }}
    </td>
    <td *ngFor="let cellValue of rowData; trackBy: trackByIndex; let colIndex = index" class="data-cell p-2 text-center">
      <p-inputNumber
        [ngModel]="currentViewData[rowIndex][colIndex]"
        (ngModelChange)="onCellValueChange(rowIndex, colIndex, $event)"
        [showButtons]="false"
        [minFractionDigits]="0"
        [maxFractionDigits]="6"
        style="width: 100%; max-width: 8rem;"
      ></p-inputNumber>
    </td>
  </tr>
  </tbody>
</table>
