<p-card>
  <app-row-input
    #suppliersInput
    [label]="'Количество поставщиков'"
    [initialVariables]="initialSuppliersCount"> <!-- Подписываемся на изменения -->
  </app-row-input>

  <p></p>
  
  <app-row-input
    #buyersInput
    [label]="'Количество покупателей'"
    [initialVariables]="initialBuyersCount"> <!-- Подписываемся на изменения -->
  </app-row-input>

  <app-table-input
    [rows]="suppliersCount()"
    [cols]="buyersCount()"
    [rowHeaders]="suppliersHeaders()"
    [colHeaders]="buyersHeaders()"
    (dataChange)="onCostMatrixChange($event)">
  </app-table-input>

  <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-top: 1.5rem;">
    <p-select
      [(ngModel)]="selectedFillMethod"
      [options]="fillMethodOptions"
      placeholder="Выберите метод"
      style="width: 250px;"
      appendTo="body">
    </p-select>

    <p-button (click)="onSolve()">Решить</p-button>
  </div>
</p-card>